'atom-workspace':
  'ctrl-alt-s': 'template-insert:toggle'
  'ctrl-1': 'template-insert:insert1'
  'ctrl-2': 'template-insert:insert2'
  'ctrl-3': 'template-insert:insert3'
  'ctrl-4': 'template-insert:insert4'
  'ctrl-5': 'template-insert:insert5'
  'ctrl-6': 'template-insert:insert6'
  'ctrl-7': 'template-insert:insert7'
  'ctrl-8': 'template-insert:insert8'
  'ctrl-9': 'template-insert:insert9'
  'ctrl-0': 'template-insert:insert0'
  'ctrl-alt-1': 'template-insert:insert1g'
  'ctrl-alt-2': 'template-insert:insert2g'
  'ctrl-alt-3': 'template-insert:insert3g'
  'ctrl-alt-4': 'template-insert:insert4g'
  'ctrl-alt-5': 'template-insert:insert5g'
  'ctrl-alt-6': 'template-insert:insert6g'
  'ctrl-alt-7': 'template-insert:insert7g'
  'ctrl-alt-8': 'template-insert:insert8g'
  'ctrl-alt-9': 'template-insert:insert9g'
  'ctrl-alt-0': 'template-insert:insert0g'
